@font-face {
    font-family: Circular Std;
    src: url(../fonts/Circular\ Std\ Medium\ 500.ttf) format("opentype");
}

@font-face {
    font-family: Circular Std Regular;
    src: url(../fonts/Circular\ Std\ Regular.otf) format("opentype");
}

body {
    margin: 0;
    font-family: Circular Std;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-size: 62px;
    margin: 15px auto;
}

input, label {
    font-family: Circular Std;
    color: #828282;
    font-size: 18px;
}

input {
    margin: 15px 0;
    width: 500px;
    box-sizing: border-box;
    padding: 16px 15px;
    border-radius: 10px;
    border: solid 2px #E0E0E0;
}

input::placeholder {
    color: #E0E0E0;
}

.landing-page-home {
    display: grid;
    grid-template-columns: 36% auto;
}

.launch {
    box-shadow: 0 -22px #ed32375c inset;
    color: #ED3237;
    font-weight: bolder;
    margin: 0;
    display: inline-block;
    line-height: 56px;
}

/* Colors */

.red {
    color: #ED3237;
}

.grey {
    color: #828282;
}

.lightgrey {
    color: #BDBDBD;
}

.green {
    color: #3EA584;
}

/* Background Images */

.bgimage {
    background: url(./images/DOCi\ image.webp) no-repeat;
    background-size: 100%;
    box-shadow: 60px 0 153px -60px black inset;
}

/* fontsizes */

.small {
    font-size: 14px;
}

.medium {
    font-size: 18px;
}

/* Fonts */

.regular-font {
    font-family: Circular Std Regular;
}

/* Margins */

.margin-zero {
    margin: 0
}

.bottom-margin {
    margin-bottom: 30px;
}

/* padding */

.text-padding {
    padding-right: 20%;
}

/* LineHeight */

.text-div {
    line-height: 30px;
}

/* Resposiveness */

@media (max-width: 540px) {
    input {
        width: 100%
    }
}

@media (max-width: 328.9px) {
    .bgimage {
        background-size: 120%;
    }
}

@media screen and (max-width: 450px) and (min-width: 1025px) {
    .bgimage {
        background-size: 120%;
    }
}